.title {
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 1.2rem;
}

.button-search {
    display: flex;
    justify-content: space-between;
}
 
.table {
    margin-top: 2rem;
}