#map {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.howto-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.3rem;
	text-decoration: underline;
}