.calendar-container {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-height: 100vh;
	padding: 2rem;
}

.howto-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.3rem;
	text-decoration: underline;
}

::ng-deep full-calendar {
  width: 100%;
  max-width: 1000px;
}

::ng-deep .fc-daygrid-day-number {
  color: black;
}

::ng-deep .fc-col-header-cell-cushion {
  color: rgb(164, 54, 3); 
}

::ng-deep .fc-toolbar-title,
::ng-deep .fc-button {
  color: black;
}