.calendar-container {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-height: 100vh;
	padding: 2rem;
}

.header {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 1rem;
}

.howto-wrapper{
	display: flex;
	justify-content: center;
	background-color: rgb(236, 233, 227);
	border-radius: 15px;
	width: fit-content;
	padding: 0.2rem 0.5rem;
}

.howto-container{
	display: flex;
	align-items: center;
	margin-top: 0.3rem;

}

::ng-deep full-calendar {
  width: 100%;
  max-width: 900px;
}

::ng-deep .fc-daygrid-day-number {
  color: black;
}

::ng-deep .fc-col-header-cell-cushion {
  color: rgb(164, 54, 3); 
}

::ng-deep .fc-daygrid-day:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
}

::ng-deep .fc-daygrid-day.fc-day-today:hover {
  transform: scale(1.08);
}

::ng-deep .fc-toolbar-title,
::ng-deep .fc-button {
  color: black;
}